@import "../theme/vars";

.chapter {
  &__title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    text-transform: uppercase;
    border-top: 1px solid $border;
    background: $ffill;
    color: $textdim;
  }
  &__body {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  @media screen and (min-width:$md) {
    &__body {
      padding-top: 1.5rem;
      padding-bottom: 2rem;
    }
  }
  @media screen and (min-width:$xl) {
    &__body {
      padding-bottom: 3.125rem;
    }
  }
  &__expand {
    display: none;
  }
  @media screen and (min-width:$sm) {
    &__pool {
      height: auto;
      transition: all .4s ease;
      margin-bottom: 1.5rem;
    }
    &__expand {
      display: flex;
    }
  }
}