@import "../theme/vars";

.heading {
  position: relative;
  margin: 0 0 1.5rem;
  padding-left: 1rem;
  font-weight: bold;
  color: $text;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 40px;
    background-color: $textfocus;
    border-radius: 0 4px 4px 0;
  }
  @media screen and (min-width:$md) {
    & {
      padding-left: 1.5rem;
    }
  }
  @media screen and (min-width:$xl) {
    & {
      padding-left: 2rem;
    }
    &::before {
      left: 2px;
      width: 3px;
      border-radius: 2px;
    }
  }
}