@import "../theme/vars";

.hub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  .hub__item, .hub__divider {
    margin-right: 1rem;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__divider {
    content: '';
    height: 2rem;
    width: 2px;
    background-color: $card;
    border-radius: 1px;
  }
  &__link {
    text-decoration: none;
  }
  @media screen and (min-width:$xl) {
    & {
      justify-content: flex-end;
    }
  }
}