@import "../theme/vars";

.price {
  font-size: .875rem;
  margin: 0;
  padding: 0;
  &__dt {
    margin-bottom: .25rem;
    font-weight: 500;
    line-height: 1rem;
    color: $textdim;
    opacity: .72;
  }
  &__dd {
    margin-left: 0;
    margin-bottom: 1rem;
    line-height: 1.125rem;
    color: $text;
  }
  &__dd:nth-child(3n) {
    margin-bottom: 0;
  }
  @media screen and (min-width:$sm) {
    & {
      display: grid;
      grid-template-columns: 40% 17% 43%;
      align-items: center;
      height: 4rem;
    }
    &--label {
      height: auto;
    }
    &__dt {
      display: none;
    }
    &__dt--label {
      display: block;
    }
    &__dd {
      margin-bottom: 0;
    }
    &__dd--service {
      padding-right: 1rem;
    }
    &__dd--price {
      padding-right: 1rem;
    }
  }
  @media screen and (min-width:$md) {
    & {
      grid-template-columns: 50% 15% 35%;
    }
  }
  @media screen and (min-width:$lg) {
    & {
      grid-template-columns: 55% 15% 30%;
    }
  }
}