$text: #1B1C21;
$textdim: #7E7E82;
$textfocus: #41F6D7;
$border: #D9FFF5;
$smoke: #F8F8F8;
$white: #FFFFFF;
$action: #FF3E79;
$actionh: #CF114B;
$card: #EAEAEA;
$blank: rgba(255, 255, 255, .96);
$bullet: #DDDDDD;
$bulletactive: #B5B6BC;
$chapters: #B8FFEC;

$xs: 320px;
$sm: 540px;
$md: 768px;
$lg: 1060px;
$xl: 1440px;
$max: 1520px;
$modal: 440px;

$shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
$pageshadow: 0 0 1rem 0 rgba(69, 79, 126, 0.2);
$ffill: linear-gradient(-270deg, $smoke 0%, $white 98.61%);